<ion-content [fullscreen]="true">
  <div id="container">
    <div id="title">
      <strong>BIP39 Wörter</strong>
      <p>Tipp jetzt deine BIP39 Wörter ein</p>
    </div>

    <form (ngSubmit)="save()" *ngIf="words">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item *ngFor="let _ of words; let i = index">
          <ion-label position="floating">Wort {{i + 1}}</ion-label>
          <ion-input type="text" minlength="4" [(ngModel)]="words[i]" [name]="'word' + i + 1"></ion-input>
        </ion-item>
      </ion-list>

      <ion-button expand="full" color="secondary" type="submit">Weiter</ion-button>
    </form>
  </div>
</ion-content>