<ion-content [fullscreen]="true">
  <div id="container">
    <div id="title" *ngIf="readMode">
      <strong translate>pages.manage-cards.read-mode.title</strong>
      <p translate>pages.manage-cards.read-mode.subtitle</p>
    </div>
    <div id="title" *ngIf="!readMode">
      <strong translate>pages.manage-cards.write-mode.title</strong>
      <p translate>pages.manage-cards.write-mode.subtitle</p>
    </div>

    <p *ngIf="readMode">{{ 'pages.manage-cards.card' | translate }} {{shardsCounter + 1}}
      {{ 'pages.manage-cards.of' | translate }} {{shamir.threshold}}</p>
    <p *ngIf="!readMode">{{ 'pages.manage-cards.card' | translate }} {{shardsCounter + 1}}
      {{ 'pages.manage-cards.of' | translate }} {{shamir.shares}}</p>
  </div>
</ion-content>