<ion-content [fullscreen]="true">
  <ng-container *ngIf="shamir.readMode">
    <div id="container">
      <div id="title">
        <strong>Fertig!</strong>
        <p>Deine Scherben wurden zusammengesetzt! Unten findest du dein BIP39 Passwort</p>
      </div>

      <p>{{password}}</p>

      <ion-button expand="full" color="secondary" (click)="backToHome()">Zurück zur Startseite</ion-button>
    </div>
  </ng-container>

  <ng-container *ngIf="!shamir.readMode">
    <div id="container">
      <div id="title">
        <strong>Fertig!</strong>
        <p>Deine Scherben wurden erstellt!</p>
      </div>

      <p>Du solltest nun deine Scherben an unterschiedlichen Orten aufbewahren.
        Je weiter die Scherben voneinander entfernt sind desto besser.
        Nur du solltest die Standorte deiner Scherben kennen. Damit
        bietet dir Shamirs Wallet maximale Sicherheit.
      </p>

      <ion-button expand="full" color="secondary" (click)="backToHome()">Zurück zur Startseite</ion-button>
    </div>
  </ng-container>
</ion-content>