<ion-content [fullscreen]="true">
  <ng-container *ngIf="shamir.readMode">
    <div id="container">
      <div id="title">
        <img src="assets/images/crystal.png"/>
        <strong translate>pages.finish.read-mode.title</strong>
        <p translate>pages.finish.read-mode.subtitle</p>
      </div>

      <p>{{password}}</p>

      <ion-button expand="full" color="secondary" (click)="backToHome()" translate>pages.finish.back-button</ion-button>
    </div>
  </ng-container>

  <ng-container *ngIf="!shamir.readMode">
    <div id="container">
      <div id="title">
        <img src="assets/images/lock.png"/>
        <strong translate>pages.finish.write-mode.title</strong>
        <p translate>pages.finish.write-mode.subtitle</p>
      </div>

      <p translate>pages.finish.write-mode.information</p>

      <ion-button expand="full" color="secondary" (click)="backToHome()" translate>pages.finish.back-button</ion-button>
    </div>
  </ng-container>
</ion-content>