<ion-content [fullscreen]="true">
  <div id="container">
    <div id="title">
      <a href="https://shamirswallet.com/"><img src="assets/images/home.png" /></a>
      <!-- <strong translate>pages.home.title</strong> -->
      <p translate>pages.home.subtitle</p>
    </div>
    <ion-button expand="full" color="secondary" (click)="start(false)" translate>pages.home.create</ion-button>
    <ion-button expand="full" color="secondary" (click)="start(true)" translate>pages.home.read</ion-button>
  </div>
</ion-content>